body {
    font-family: Garamond, serif;
    background-color: brown;
    color: blanchedalmond;
    align-content: center;
    text-align: center;
}

h3 {
    font-style: italic;
}

img {
    height:auto;
    width:500px;
}

ol, ul {
    background-color: blanchedalmond;
    color: black;
}



